*{margin:0; padding:0;
	list-style:none;
	font-family:"nanumgothic";
	font-weight:500;
	font-size:15px;
	color:#000;}
a{text-decoration:none;
	color:inherit;}
button{cursor:pointer;}

.clear{clear:both;
		display:block;
		content:"";}
.btn_box li{cursor:pointer;}

#wrap{width:1400px;
	margin:0 auto;}

header{width:1400px;
		height:200px;}
#lang, #logo, #login{float:left;
					position:absolute;
					top:0;}
#lang{width:200px;
		height:10px;
		margin-top:53px;
		margin-left:100px;}
#lang li{width:20px;
			font-size:15px;
			float:left;}
#lang li:nth-child(2n){padding-left:10px;}
.nav1 h2{border-bottom:1px solid red;
		color:red;}
.submenu li:nth-child(1) h2{border-bottom:1px solid #fff;
							color:#fff;}
#logo{width:200px;
		height:40px;
		margin-left:673px;
		margin-top:33px;}
#login{width:55px;
		font-size:15px;
		margin-top:53px;
		margin-left:1245px;}
nav{width:1400px;
	height:30px;
	position:absolute;
	top:0;
	margin-top:150px;
	text-align:center;
	margin-left:160px;}

.nav li{margin-left:70px;
		float:left;}
.nav li:hover{border-bottom:1px solid red;}
#back{height:500px;}
#back h3{position:absolute;
		margin-top:160px;
		font-size:35px;
		font-weight:600;
		color:#fff;
		margin-left:587px;}
#back span{position:absolute;
		margin-top:-233px;
		margin-left:400px;
		z-index:3;
		width:580px;
		color:#fff;
		font-size:20px;
		font-weight:600;
		line-height:40px;
		text-align:center;}
.submenu{position:absolute;
		top:0;
		margin-top:223px;
		margin-left:312px;
		}
.submenu li{float:left;
		margin-left:70px;
		}
.submenu li h2{color:#fff;
			font-size:18px;
			}
.submenu li:hover h2{border-bottom:1px solid #fff;}
#section1{margin-top:150px;
			margin-left:400px;
			opacity:0;}
.section1_1 h3{font-size:30px;
				font-weight:600;
				margin-left:466px;}
.section1_1 img{margin-left:430px;
				margin-top:-20px;}
.section1_2{margin-top:30px;}
.box{width:630px;
		height:230px;
		background-color:#f0e9e2;
		position:absolute;
		margin-top:-267px;
		margin-left:500px;}
.box p{text-align:right;}
.box h3{font-size:25px;
		font-weight:600;
		margin-top:30px;
		margin-left:370px;}
.box p{width:580px;
		font-size:18px;
		line-height:30px;
		margin-top:20px;}
#section2{margin-top:150px;
			margin-left:-300px;
			opacity:0;}
#section2 h3{font-size:20px;
				font-weight:600;}
#section2 p{margin-top:40px;
			line-height:30px;
			font-size:18px;}
#section2 img{margin-left:880px;
			position:absolute;
			margin-top:-230px;}
#section3{margin-top:250px;
		margin-left:400px;
		opacity:0;}
.section3_1 h3{font-size:30px;
			font-weight:600;
			margin-left:497px;}
.section3_1 img{margin-left:440px;
				margin-top:-20px;}
.section3_2{margin-top:30px;}
.box2{width:630px;
		height:220px;
		background-color:#f0e9e2;
		position:absolute;
		margin-top:-258px;
		margin-left:50px;}
.box2 h3{font-size:30px;
		font-weight:600;
		margin-top:30px;
		margin-left:50px;}
.box2 p{margin-left:50px;
		margin-top:20px;
		font-size:18px;
		line-height:30px;
		width:570px;}
#section4{margin-left:-400px;
		margin-top:120px;
		opacity:0;}
.section4_1{margin-left:50px;
			}
.section4_2{position:absolute;
			margin-top:-780px;
			margin-left:105px;}
.section4_2 h3{font-size:18px;
				font-weight:600;}
.section4_2 p{font-size:18px;
				margin-top:40px;}
.section4_2 li:nth-child(2){margin-left:510px;
							width:480px;
							margin-top:98px;}
.section4_2 li:nth-child(2) p{text-align:right;
								margin-top:40px;}
.section4_2 li:nth-child(2) h3{text-align:right;}
.section4_2 li:nth-child(3){
							width:400px;
							margin-top:110px;}
.section4_2 li:nth-child(4){margin-left:540px;
							width:450px;
							margin-top:98px;}
.section4_2 li:nth-child(4) p{text-align:right;
								margin-top:40px;}
.section4_2 li:nth-child(4) h3{text-align:right;}
#section5{margin-top:150px;
		margin-left:400px;
		opacity:0;}
.section5_1 h3{font-size:30px;
				font-weight:600;
				margin-left:510px;}
.section5_1 img{margin-left:475px;
				margin-top:-20px;}
.section5_2{margin-top:11px;}
.box_3{width:625px;
		height:230px;
		margin-top:-267px;
		position:absolute;
		background-color:#f0e9e2;
		margin-left:500px;}
.box_3 h3{font-size:25px;
			margin-top:30px;
			font-weight:600;
			margin-left:310px;}
.box_3 p{margin-left:25px;
		width:570px;
		font-size:18px;
		line-height:30px;
		text-align:right;
		margin-top:20px;}
#section6{margin-top:90px;
		margin-left:100px;
		width:1200px;}
#section6 h3{font-size:20px;
				font-weight:600;}
#section6 p{font-size:18px;
			line-height:36px;}
.section6_2, .section6_3 {margin-top:95px;}
footer li{float:left;}
 footer{height:240px;
		background-color:black;
					margin-top:165px;}
.familysite{margin-top:90px;
			margin-left:165px;
}
.f_logo{left:0;
		position:absolute;
		margin-top:50px;
		MARGIN-LEFT:840px;}
.sns li{margin-left:20px;
		margin-top:155px;}
.sns{margin-left:625px;
	position:absolute;}
.sns li:nth-child(1){margin-left:0px;}
.copy{margin-top:130px;
	position:absolute;
	margin-left:165px;
	width:250px;}
.copy span{color:#616161;
		font-size:12px;
		font-weight:600;
		line-height:30px;}
.under{position:absolute;
		margin-top:130px;
		margin-left:957px;
		text-align:right;}
.under span{color:#616161;
		font-size:12px;
		font-weight:600;
		line-height:30px;}
#line5{margin-top:70px;
		margin-left:165px;
		position:absolute;}
#line6{margin-top:70px;
		margin-left:1000px;
		position:absolute;}