*{margin:0; padding:0;
	list-style:none;
	font-family:"nanumgothic";
	font-weight:500;
	font-size:15px;
	color:#000;}
a{text-decoration:none;
	color:inherit;}
button{cursor:pointer;}

.clear{clear:both;
		display:block;
		content:"";}
.btn_box li{cursor:pointer;}

#wrap{width:1400px;
	margin:0 auto;}

header{width:1400px;
		height:200px;}
#lang, #logo, #login{float:left;
					position:absolute;
					top:0;}
#lang{width:200px;
		height:10px;
		margin-top:53px;
		margin-left:100px;}
#lang li{width:20px;
			font-size:15px;
			float:left;}
#lang li:nth-child(2n){padding-left:10px;}
.nav1 h2{border-bottom:1px solid red;
			color:red;}
.submenu li:nth-child(1) h2{border-bottom:1px solid #fff;}
#logo{width:200px;
		height:40px;
		margin-left:673px;
		margin-top:33px;}
#login{width:55px;
		font-size:15px;
		margin-top:53px;
		margin-left:1245px;}
nav{width:1400px;
	height:30px;
	position:absolute;
	top:0;
	margin-top:150px;
	text-align:center;
	margin-left:160px;}

.nav li{margin-left:70px;
		float:left;}
.nav li:hover{border-bottom:1px solid red;}
#back{height:500px;}
#back h3{position:absolute;
		margin-top:160px;
		font-size:35px;
		font-weight:600;
		color:#fff;
		margin-left:667px;}
#back span{position:absolute;
		margin-top:-233px;
		margin-left:448px;
		z-index:3;
		width:520px;
		color:#fff;
		font-size:20px;
		font-weight:600;
		line-height:40px;
		text-align:center;}
.submenu{position:absolute;
		top:0;
		margin-top:223px;
		margin-left:355px;}
.submenu li{float:left;
		margin-left:70px;}
.submenu li h2{color:#fff;
			font-size:18px;}
.submenu li:hover h2{border-bottom:1px solid #fff;}
#section1{margin-top:150px;
		margin-left:100px;
		
		height:1125px;}
.section1_1 li{float:left;}
.section1_2 li{float:left;}
.section1_3 li{float:left;}
#section1 li:hover{background-image:url("../img/adg.jpg") no-repeat center top;}


.one1{width:600px;
	z-index:1;}
.one2{position:absolute;
	margin-top:-376px;
	margin-left:600px;}
.one3{position:absolute;
	margin-top:-4px;}
.one4{position:absolute;
	margin-top:-4px;
	margin-left:600px;}
.one5{position:absolute;
	margin-top:368px;}
.one6{position:absolute;
	margin-top:368px;
	margin-left:600px;}
.section1_ho{width:600px;
			height:375px;
			position:absolute;
			z-index:2;
			margin-top:-376px;
			display:none;}
.section1_ho h3{width:250px;
				position:absolute;
				font-size:20px;
				color:#fff;
				z-index:3;
				margin-top:300px;
				margin-left:20px;}
.section1_ho2{width:600px;
			height:375px;
			margin-top:-376px;
			position:absolute;
			z-index:2;
			display:none;}
.section1_ho2 h3{width:250px;
				position:absolute;
				font-size:20px;
				color:#fff;
				z-index:3;
				margin-top:300px;
				margin-left:20px;}
.section1_ho3{width:600px;
			height:375px;
			position:absolute;
			z-index:2;
			margin-top:-377px;
			display:none;}
.section1_ho3 h3{width:250px;
				position:absolute;
				font-size:20px;
				color:#fff;
				z-index:3;
				margin-top:320px;
				margin-left:20px;}
.section1_ho4{width:600px;
			height:375px;
			position:absolute;
			z-index:2;
			margin-top:-376px;
			display:none;}
.section1_ho4 h3{width:250px;
				position:absolute;
				font-size:20px;
				color:#fff;
				z-index:3;
				margin-top:320px;
				margin-left:20px;}

.section1_ho5{width:600px;
			height:375px;
			position:absolute;
			z-index:2;
			display:none;
			margin-top:-376px;}
.section1_ho5 h3{width:250px;
				position:absolute;
				font-size:20px;
				color:#fff;
				z-index:3;
				margin-top:320px;
				margin-left:20px;}
.section1_ho6{width:600px;
			height:375px;
			position:absolute;
			margin-top:-376px;
			z-index:2;
			display:none;}
.section1_ho6 h3{width:250px;
				position:absolute;
				font-size:20px;
				color:#fff;
				z-index:3;
				margin-top:320px;
				margin-left:20px;}
.opa{width:600px;
	height:373px;
	background-color:#000;
	opacity:0.5;
	float:left;
	}
#section2{width:100%;
			height:535px;
			margin-top:300px;
			opacity:0;}
#section2 h3{position:absolute;
			color:#fff;
			margin-top:175px;
			margin-left:605px;
			font-size:30px;}
#section2 p{font-size:20px;
			line-height:36px;
			position:absolute;
			margin-top:-257px;
			color:#fff;
			width:620px;
			text-align:Center;
			margin-left:370px;}
#section3{margin-top:300px;
			width:100%;
					height:340px;
					opacity:0;}
footer{margin-top:150px;}
.btn_box{width:200px;
		
		margin-top:-45px;
		margin-left:1235px;
		position:absolute;}
.btn_box h3{font-size:18px;}
.btn_box li{float:left;
			margin-left:20px;}
.two{position:absolute;
	display:none;}
.one li{float:left;
		margin-left:60px;}
.one li:nth-child(1){margin-left:100px;}
.one li h3{position:absolute;
			margin-top:250px;
			margin-left:65px;
			font-size:18px;}
.one li:nth-child(2) h3{position:absolute;
			margin-top:250px;
			margin-left:140px;
			font-size:18px;}
.one li:nth-child(2) p{margin-top:50px;
			font-size:18px;
			color:#fe0000;
			margin-left:100px;}
.one li:nth-child(3) h3{position:absolute;
			margin-top:250px;
			margin-left:120px;
			font-size:18px;}
.one li:nth-child(3) p{margin-top:50px;
			font-size:18px;
			color:#fe0000;
			margin-left:50px;} 	

.one li p{margin-top:50px;
			font-size:18px;
			color:#fe0000;
			margin-left:95px;}
.two li{float:left;
		margin-left:60px;}
.two li:nth-child(1){margin-left:100px;}
.two li h3{position:absolute;
			margin-top:250px;
			margin-left:65px;
			font-size:18px;}
.two li:nth-child(2) h3{position:absolute;
			margin-top:250px;
			margin-left:73px;
			font-size:18px;}
.two li:nth-child(2) p{margin-top:50px;
			font-size:18px;
			color:#fe0000;
			margin-left:50px;}
.two li:nth-child(3) h3{position:absolute;
			margin-top:250px;
			margin-left:140px;
			font-size:18px;}
.two li:nth-child(3) p{margin-top:50px;
			font-size:18px;
			color:#fe0000;
			margin-left:50px;} 	

.two li p{margin-top:50px;
			font-size:18px;
			color:#fe0000;
			margin-left:65px;}
footer li{float:left;}
 footer{height:240px;
		background-color:black;}
.familysite{margin-top:90px;
			margin-left:165px;}
.f_logo{left:0;
		position:absolute;
		margin-left:929px;
		margin-top:50px;}
.sns li{margin-left:20px;
		margin-top:155px;}
.sns{margin-left:625px;
	position:absolute;}
.sns li:nth-child(1){margin-left:0px;}
.copy{margin-top:130px;
	position:absolute;
	margin-left:165px;
	width:250px;}
.copy span{color:#616161;
		font-size:12px;
		font-weight:600;
		line-height:30px;}
.under{position:absolute;
		margin-top:130px;
		margin-left:957px;
		text-align:right;}
.under span{color:#616161;
		font-size:12px;
		font-weight:600;
		line-height:30px;}
#line5{margin-top:70px;
		margin-left:165px;
		position:absolute;}
#line6{margin-top:70px;
		margin-left:1000px;
		position:absolute;}